<h1>Random Programming Quotes Generator</h1>
  <div id="quote" >
  <%=@quotes["quote"]%></br>
  <%=@quotes["author"]%>
   </div>


<button id="newQuote" onclick="window.location.reload()">Next Quote</button>

<i class="fab fa-twitter"></i>
