// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*index page */

body {
  text-align: center;
  padding-top: 40px;
}

h1 {
  padding-bottom: 30px;
}

.buttons {
  padding-top: 30px;
}

#quote {
  margin-left: 30%;
  margin-right: 30%;
}
